Version: "2012-10-17"
Statement:
- Effect: Allow
  Principal:
    Service: s3.amazonaws.com
  Action: sts:AssumeRole
  Condition:
    StringEquals:
      aws:SourceAccount: "${account}"
    ArnLike:
      aws:SourceArn: "arn:${partition}:s3:::${bucket}"
